.profilecontainer {
    width: 60%;
    min-width: 650px;
    margin: 50px auto;
    border-radius: 20px;
    padding: 50px 30px;
    border: 1px solid burlywood;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.maindata {
    grid-column: 1;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profileimgcontainer {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative; /* Make the container a positioning context */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Ensure any overflowing content is hidden */
}

.profileimg {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.editicon {
    font-size: 40px;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: burlywood;
    z-index: 2; /* Ensure it is above the image */
    position: absolute; /* Position it absolutely within the container */
    background-color: rgba(
        255,
        255,
        255,
        0.1
    ); /* Optional: Add a semi-transparent background to highlight text */
}
.transparentfileinput {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    z-index: 3; /* Ensure it is above the image */
    position: absolute; /* Position it absolutely within the container */
    opacity: 0;
}

.transparentfileinput:hover {
    cursor: pointer;
}

.biocontainer {
    display: flex;
    justify-content: center;
    padding: 55px;
}

.bio {
    font-weight: bolder;
}

.editbio {
    all: unset;
    min-width: 400px;
    min-height: 170px;
    padding: 20px;
    border-radius: 5px;
    border: solid 1px burlywood;
}

.subdatacontainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subdata {
    all: unset;
    text-wrap: nowrap;
    padding: 20px;
}

.followersandfollowing:hover {
    color: darkred;
    cursor: pointer;
}

button {
    padding: 7px 20px;
    border-radius: 10px;
    margin: 5px;
    border: 0px;
    background-color: burlywood;
}

button:hover {
    background-color: rgb(233, 175, 99);
    cursor: pointer;
}
